.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 45px;
  border: solid 2px #000;
  color: #000;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto;
  cursor: pointer;
  transition: color .4s ease-out, background-color .4s ease-out;
  outline: none;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}