.header {
  margin-bottom: 30px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  &__wrap {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 40px;
    text-decoration: none;
    color: #000;
    transform: scale(1);
    transition: transform .4s ease-out;
    &:hover{
      transform: scale(1.05);
    }
  }
}
